/* See the documentation for how to load in regular weight versions */
@font-face {
	font-family: 'Benton';
	src: url('https://apps.bostonglobe.com/common/font/benton-bold.woff2') format('woff2'), url('https://apps.bostonglobe.com/common/font/benton-bold.woff') format('woff');
    font-weight: 600;
}

@font-face {
	font-family: 'Miller';
	src: url('https://apps.bostonglobe.com/common/font/miller-bold.woff2') format('woff2'), url('https://apps.bostonglobe.com/common/font/miller-bold.woff') format('woff');
    font-weight: 600;
}

/* =========================== */
/* Globe font stack examples
/* =========================== */

/* Serif (Miller) */
/* font-family: 'Miller', Georgia, Times New Roman, Times, serif; */
/* font-weight: 600; */

/* Sans-serif (Benton) */
/* font-family: 'Benton', Helvetica, Arial, sans-serif; */
/* font-weight: 600; */

/* Serif */
/* font-family: 'Georgia', Times New Roman, Times, serif; */

/* Sans-serif */
/* font-family: 'Helvetica', Arial, sans-serif; */

/* =========================== */
/* Graphic styles
/* =========================== */

.graphichead {font-family:'BentonSans', Helvetica, Arial, sans-serif; font-size:1.2em;font-weight:bold; display:block; margin-top:30px;}
.subtitle {font-family:'BentonSans', Helvetica, Arial, sans-serif; font-size:0.9em; line-height:1.4em; margin-top:10px; margin-bottom:15px;}
.plot{
	min-height:600px;
}
@media (max-width: 600px) {
	.plot {
		min-height: 400px;
	}
}

#map{
	width: 100vw;
	min-height: 700px;
	background-image: url("./assets/graybase.png");
	background-repeat: no-repeat;
	background-position: calc(50% - 10px) calc(50% + 10px);
	position: relative;
	background-color: white;
}
.showNote{
	font-family: Benton;
	position: absolute;
	top: 80px;
	left: 50px;
	font-size: 1.2rem;
	z-index: 1000;
	color: black;
}
.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	line-height: 25px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
#note{
	font-family: Helvetica !important;
	color:#999 !important;
}